<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>投稿</th>
      <th>路線</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% trains.each do |train| %>
      <tr>
        <td>
          <%= link_to train_path(train.id) do %>
            <%= attachment_image_tag(train, :train_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(train.user) do %>
            <%= train.user.name %>
          <% end %>
        </td>
        <td><%= train.company %></td>
        <td><%= train.body %></td>
        <td id="favorite_<%= train.id %>"><%= render 'favorites/favorite-btn', train: train %></td>
        <td class="comment_count">コメント数： <%= train.train_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>