<!-- ユーザーの情報を表示 -->
<table style="margin-top: 20px; font-size: 20px">
  <tr>
	  <th>ユーザー名</th>
	  <th>　　</th>
	  <th><%= user.name %></th>
  </tr>
</table>
<section class="introduction" style="margin-top: 10px; font-size: 20px">
  <strong>紹介文</strong>
  <p style="word-wrap:break-word;"><%= user.introduction %></p>
</section>

<!-- 編集画面へのリンク -->
<div class="edit_link" style="margin: 10px 0 20px;">
  <%= link_to '登録情報を編集する',edit_users_path, class: "btn btn-success" %>　|　<%= link_to 'ホームへ', root_path, class: "btn btn-secondary", data: {"turbolinks" => false} %>
  　|　<%= link_to '投稿履歴を表示する', users_trains_path, class: "btn btn-primary" %>
</div>
