<!DOCTYPE html>
<html>
  <head>
    <title>Tetsubun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <%= render 'layouts/header' %>
      <main>
        <%= yield %>
        <span id="back">
          <a href="#">
            <img src="/assets/sozai_cman_jp_20210529181656.png" alt="">
          </a>
        </span>
      </main>
    <!-- footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
